In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/insurance-premium-prediction/insurance.csv

In [2]:
data=pd.read_csv("/kaggle/input/insurance-premium-prediction/insurance.csv")

In [3]:
data

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
age,1338.0,39.207025,14.049960,18.00,27.0000,39.00,51.000,64.00
bmi,1338.0,30.665471,6.098382,16.00,26.3000,30.40,34.700,53.10
children,1338.0,1.094918,1.205493,0.00,0.0000,1.00,2.000,5.00
expenses,1338.0,13270.422414,12110.011240,1121.87,4740.2875,9382.03,16639.915,63770.43

In [6]:
data.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [7]:
data.duplicated().sum()

1

In [8]:
data[data.duplicated()]

     age   sex   bmi  children smoker     region  expenses
581   19  male  30.6         0     no  northwest   1639.56

In [9]:

data=data.drop_duplicates()

In [10]:
data[data.duplicated()]

Empty DataFrame
Columns: [age, sex, bmi, children, smoker, region, expenses]
Index: []

In [11]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [12]:

data

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1337 rows x 7 columns]

In [13]:
data.reset_index(drop=True,inplace=True)

In [14]:
data

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1332   50    male  31.0         3     no  northwest  10600.55
1333   18  female  31.9         0     no  northeast   2205.98
1334   18  female  36.9         0     no  southeast   1629.83
1335   21  female  25.8         0     no  southwest   2007.95
1336   61  female  29.1         0    yes  northwest  29141.36

[1337 rows x 7 columns]

In [15]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses'], dtype='object')

In [16]:
x=data[['bmi']]
y=data['expenses']

In [17]:
x

       bmi
0     27.9
1     33.8
2     33.0
3     22.7
4     28.9
...    ...
1332  31.0
1333  31.9
1334  36.9
1335  25.8
1336  29.1

[1337 rows x 1 columns]

In [18]:
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1332    10600.55
1333     2205.98
1334     1629.83
1335     2007.95
1336    29141.36
Name: expenses, Length: 1337, dtype: float64

In [19]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split, KFold, cross_val_score

In [20]:
def Liner_Best_Fit(x,y):
    model=LinearRegression()
    model.fit(x,y)
    y_pred=model.predict(x)
    print("MSE=",mean_squared_error(y,y_pred))
    print("RMSE=", np.sqrt(mean_squared_error(y,y_pred)))
    print("MAE=",mean_absolute_error(y,y_pred))
    print("MAPE=", mean_absolute_percentage_error(y,y_pred))
    print("R2=",r2_score(y,y_pred))
def mean_absolute_percentage_error(y, y_pred): 
    y, y_pred = np.array(y), np.array(y_pred)
    return np.mean(np.abs((y - y_pred) / y)) * 100

In [21]:
Liner_Best_Fit(x,y)

MSE= 140768692.14691105
RMSE= 11864.598271619274
MAE= 9173.443654719127
MAPE= 150.5938403093773
R2= 0.03945670999381046

In [22]:
model=LinearRegression()
print("NRMSE=", np.mean(np.abs(cross_val_score(model, x, y, scoring = 'neg_root_mean_squared_error', cv = 10))))

NRMSE= 11850.064179654757

In [23]:
x_train,x_test,y_train,y_test= train_test_split(x, y, test_size=0.3, random_state=42)

In [24]:
model.fit(x_train,y_train)
y_trainPre=model.predict(x_train)
y_testPre=model.predict(x_test)

print("YTestRMSE=",np.sqrt(mean_squared_error(y_test,y_testPre)))
print("YTrainRMSE=",np.sqrt(mean_squared_error(y_train,y_trainPre)))
print("R2Test=",r2_score(y_test,y_testPre))

YTestRMSE= 12709.031502147302
YTrainRMSE= 11502.029465468866
R2Test= 0.05609138681140502

In [25]:
x_train.shape

(935, 1)

In [26]:
Liner_Best_Fit(x_test,y_test)

MSE= 158241730.27612
RMSE= 12579.416929099696
MAE= 9758.9011521142
MAPE= 155.84272426518356
R2= 0.07524633820923066

In [27]:
Liner_Best_Fit(x_train,y_train)

MSE= 132296681.82451399
RMSE= 11502.029465468866
MAE= 8913.193614891496
MAPE= 148.0774633931095
R2= 0.025730878758443154